[submodule "modules/account"]
	path = modules/account
	url = https://github.com/yuvipanda/puppet-account.git
[submodule "modules/nginx"]
	path = modules/nginx
	url = https://github.com/jfryman/puppet-nginx.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/znc"]
	path = modules/znc
	url = https://github.com/yuvipanda/puppet-znc.git
[submodule "modules/apache"]
	path = modules/apache
	url = https://github.com/puppetlabs/puppetlabs-apache.git
[submodule "modules/concat"]
	path = modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "modules/mysql"]
	path = modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
